.navbar-nav{
    position: absolute;
}

.warn1{
    background-color: #343A40;
    transition: 0.3s ease-in;
}


.anim{
    border-radius: 10%;
    transition: 0.5s ease-in-out;
    color: white;
    margin-top: 3%;
}

.anim:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    color: #F64249;
    font-size: 25px;

    font-weight: bold;
    /* border: 3px solid white; */
    margin-top: 3%;
    box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
    -webkit-box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
    -moz-box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
}

.kaku{
    background-color: #F64249;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    
}

.kaku:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    color: #F64249;
    font-size: 25px;
    margin-top: 3%;
    font-weight: bold;
    /* border: 3px solid white; */
    
}

.lgo{
    width: 180px;
    transition: 0.5s ease-out;
}

.lgo:hover{
    width: 160px;
}

.card{
    width: 18rem;
    box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
    -webkit-box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
    -moz-box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
    transition: 0.3s ease-in-out;
}

.card:hover{
    width: 20rem;
    box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
    -webkit-box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
    -moz-box-shadow: -3px 10px 22px -3px rgba(0,0,0,0.43);
    transition: 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 1px 1px 5px;
}

.btn{
    background-color: transparent;
    border: 2px solid #F64249;
    transition: 0.5s ease-in-out;
    color: #F64249;
    width: 80%;
    margin-left: 10%;
}

.btn:hover{
    background-color: #F64249;
    border: 2px solid #F64249;
}

.col h1{
    text-align: center;
    color: white;
    text-shadow: rgb(246, 66, 73) 4px 0px 0px, rgb(246, 66, 73) 3.87565px 0.989616px 0px, rgb(246, 66, 73) 3.51033px 1.9177px 0px, rgb(246, 66, 73) 2.92676px 2.72656px 0px, rgb(246, 66, 73) 2.16121px 3.36588px 0px, rgb(246, 66, 73) 1.26129px 3.79594px 0px, rgb(246, 66, 73) 0.282949px 3.98998px 0px, rgb(246, 66, 73) -0.712984px 3.93594px 0px, rgb(246, 66, 73) -1.66459px 3.63719px 0px, rgb(246, 66, 73) -2.51269px 3.11229px 0px, rgb(246, 66, 73) -3.20457px 2.39389px 0px, rgb(246, 66, 73) -3.69721px 1.52664px 0px, rgb(246, 66, 73) -3.95997px 0.56448px 0px, rgb(246, 66, 73) -3.97652px -0.432781px 0px, rgb(246, 66, 73) -3.74583px -1.40313px 0px, rgb(246, 66, 73) -3.28224px -2.28625px 0px, rgb(246, 66, 73) -2.61457px -3.02721px 0px, rgb(246, 66, 73) -1.78435px -3.57996px 0px, rgb(246, 66, 73) -0.843183px -3.91012px 0px, rgb(246, 66, 73) 0.150409px -3.99717px 0px, rgb(246, 66, 73) 1.13465px -3.8357px 0px, rgb(246, 66, 73) 2.04834px -3.43574px 0px, rgb(246, 66, 73) 2.83468px -2.82216px 0px, rgb(246, 66, 73) 3.44477px -2.03312px 0px, rgb(246, 66, 73) 3.84068px -1.11766px 0px, rgb(246, 66, 73) 3.9978px -0.132717px 0px;
    transition: 0.5s ease-in-out;
}
.col h1:hover{
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: rgb(246, 66, 73) 4px 0px 0px, rgb(246, 66, 73) 3.87565px 0.989616px 0px, rgb(246, 66, 73) 3.51033px 1.9177px 0px, rgb(246, 66, 73) 2.92676px 2.72656px 0px, rgb(246, 66, 73) 2.16121px 3.36588px 0px, rgb(246, 66, 73) 1.26129px 3.79594px 0px, rgb(246, 66, 73) 0.282949px 3.98998px 0px, rgb(246, 66, 73) -0.712984px 3.93594px 0px, rgb(246, 66, 73) -1.66459px 3.63719px 0px, rgb(246, 66, 73) -2.51269px 3.11229px 0px, rgb(246, 66, 73) -3.20457px 2.39389px 0px, rgb(246, 66, 73) -3.69721px 1.52664px 0px, rgb(246, 66, 73) -3.95997px 0.56448px 0px, rgb(246, 66, 73) -3.97652px -0.432781px 0px, rgb(246, 66, 73) -3.74583px -1.40313px 0px, rgb(246, 66, 73) -3.28224px -2.28625px 0px, rgb(246, 66, 73) -2.61457px -3.02721px 0px, rgb(246, 66, 73) -1.78435px -3.57996px 0px, rgb(246, 66, 73) -0.843183px -3.91012px 0px, rgb(246, 66, 73) 0.150409px -3.99717px 0px, rgb(246, 66, 73) 1.13465px -3.8357px 0px, rgb(246, 66, 73) 2.04834px -3.43574px 0px, rgb(246, 66, 73) 2.83468px -2.82216px 0px, rgb(246, 66, 73) 3.44477px -2.03312px 0px, rgb(246, 66, 73) 3.84068px -1.11766px 0px, rgb(246, 66, 73) 3.9978px -0.132717px 0px;
    letter-spacing: 6px;
}